@import "./components/navbar.scss";
@import "./components/hero.scss";
@import "./components/carousel.scss";
@import "./components/sale.scss";
@import "./components/modal.scss";
@import "./components/services.scss";
@import "./components/footer.scss";
@import "./pages/turkiya.scss";
@import "./pages/misr.scss";
@import "./pages/baa.scss";
@import "./pages/yevropa.scss";
@import "./pages/tailand.scss";
@import "./components/about.scss";

* {
  margin: 0;
  padding: 0;
}

*::after,
::before {
  box-sizing: border-box;
}

.container {
  max-width: 1544px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer !important;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}
