.tailand {
  width: 100%;
  height: auto;
}

.tailand__header {
  display: grid;
  grid-template-columns: 5fr 3fr;
  justify-content: space-between;
  padding-top: 30px !important;
  .header__text {
    h2 {
      font-size: 27px;
      font-weight: 700;
      line-height: 34.34px;
      color: #004290;
    }
    p {
      font-size: 23px;
      font-weight: 400;
      line-height: 34.5px;
      color: #004290;
      padding-bottom: 10px;
    }
  }
  .header__image {
    height: 350px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@media (max-width: 1004px) {
  .tailand__header {
    grid-template-columns: auto;

    .header__image {
      padding-top: 40px !important;
    }
  }
}

.tailand__dastur {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding-top: 100px !important;
  .card {
    width: 432px;
    min-height: 407px;
    padding: 20px;
    background: #f1f3ff;
    border-radius: 29px;
    h3 {
      font-size: 30px;
      font-weight: 400;
      line-height: 38.16px;
      color: #004290;
    }
    h2 {
      font-size: 30px;
      font-weight: 700;
      line-height: 38.16px;
      color: #004290;
      padding-top: 5px;
      border-bottom: 1px solid #00429080;
    }
    ul {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      li {
        font-size: 18px;
        font-weight: 400;
        line-height: 37.5px;
        color: #004290;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .tailand__dastur {
    .card {
      width: 90%;
      h3 {
        font-size: 23px;
      }
      h2 {
        font-size: 20px;
      }
      ul {
        li {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .tailand__dastur {
    .card {
      h3 {
        font-size: 20px;
      }
      h2 {
        font-size: 18px;
      }
      ul {
        li {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .tailand__dastur {
    grid-template-columns: auto;
    align-items: center;
    .card {
      width: 60%;
      text-align: center;
    }
  }
}
@media (max-width: 510px) {
  .tailand__dastur {
    .card {
      width: 84%;
      ul {
        li {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 415px) {
  .tailand__dastur {
    .card {
      width: 90%;
    }
  }
}
