.carousel {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  width: 90%;
  .slick-slider {
    position: relative;

    .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      .slider__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        height: 400px;
        border-radius: 8px;
        img {
          border-radius: 8px;
          max-width: 300px;
          height: 400px;
          object-fit: cover;
          box-shadow: 0px 4px 14.6px 0px #00000014;
        }
        .text {
          position: absolute;
          bottom: 0;
          background-color: #ffffff;
          margin-top: 10px;
          box-shadow: 0px 4px 14.6px 0px #00000014;
          height: 85px;
          width: 300px;
          border-radius: 0 0 10px 10px;
          border-bottom: 1px solid #00000014;
          h2 {
            font-weight: bold;
            font-size: 25px;
            font-weight: 500;
            line-height: 31.13px;
            color: #5e6282;
            padding-top: 10px;
            text-align: start;
            padding-left: 5px;
          }

          p {
            font-size: 20px;
            font-weight: 500;
            line-height: 24.9px;
            color: #5e6282;
            padding-top: 10px;
            text-align: start;
            padding-left: 5px;
          }
        }
      }
    }
    .slick-prev {
      margin-left: -30px;
    }
    .slick-next {
      margin-right: -30px;
    }
    .slick-prev,
    .slick-next {
      border: 1px solid gray;
      width: 50px;
      height: 32px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      font-size: 20px;
      color: #666;
      &:hover {
        background: rgba(255, 255, 255, 1);
      }
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }

    .icon {
      font-size: 24px;
    }
  }

  h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
    text-align: center;
    color: #004290;
    padding-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .carousel {
    h1 {
      font-size: 40px;
    }
  }
}
