.button {
  margin: 0 !important;
  .btn1 {
    display: block;
    margin: 30px auto;
    width: 347px;
    height: 61px;
    background: #23af5f;
    color: #fff;
    font-size: 23px;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
      box-shadow: 5px 2px 27px -1px rgba(0, 0, 0, 0.72);
    }
  }
  .none {
    display: none;
  }
  .modal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6) !important;
    z-index: 1033;
    .modal__content {
      position: absolute;
      border-radius: 40px;
      width: 90%;
      max-width: 615px;
      background: rgb(255, 255, 255);
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 103;
      .top {
        background: #00429080;
        height: 80px;
        width: 655px;
        border-radius: 40px 40px 0 0;
        margin-left: -20px;
        margin-top: -20px;
      }
      .bottom {
        background: #00429080;
        height: 80px;
        width: 655px;

        border-radius: 0 0 40px 40px;
        margin-left: -20px;
        margin-bottom: -20px;
        margin-top: 10px;
      }
      .close {
        background-color: #fff;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
        .icon {
          font-size: 40px;
          color: #80a1c8;
        }
      }
      .middle {
        padding-top: 35px;
        padding-bottom: 20px;
        p {
          font-size: 28px;
          font-weight: 500;
          line-height: 35.62px;
          color: #004290;
          text-align: center;
        }
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 20px;
          input {
            border: 1px solid #504f4f;
            border-radius: 10px;
            width: 504px;
            height: 68px;
            padding-left: 10px;
            background-color: transparent;
            font-size: 28px;
          }
          label {
            font-size: 30px;
            font-weight: 500;
            line-height: 38.16px;
            padding-top: 22px;
            width: 504px;
            text-align: start;
          }
          .btn {
            width: 507px;
            border-radius: 10px;
            font-size: 20px;
            height: 90px;
            margin: 0 auto;
            margin-top: 20px;
            transition: 0.5s;
            font-size: 40px;
            font-weight: 700;
            line-height: 34px;
          }
        }
        .p {
          font-size: 18px;
          font-weight: 400;
          line-height: 22.9px;
          text-align: center;
          color: #00000057;
          margin: 0 auto;
          padding-top: 28px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .button {
    .btn1 {
      width: 100%;
    }
    .modal {
      .modal__content {
        width: 90%;
        .middle {
          p {
            width: 100%;
            font-size: 16px;
          }
          form {
            input {
              width: 100%;
              height: 40px;
              font-size: 20px;
            }
            label {
              width: 100%;
              font-size: 20px;
            }
            .btn {
              width: 100%;
              height: 50px;
              font-size: 25px;
            }
          }
          .p {
            font-size: 16px;
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 430px) {
  .button {
    .modal {
      .modal__content {
        width: 85%;
      }
    }
  }
}
