.section {
  background: #f1f3ff;
  margin-top: 30px !important;
}

.services {
  padding-top: 50px !important;
  padding-bottom: 133px !important;
  text-align: center;
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
    color: #004290;
    padding-bottom: 30px;
  }
  .card {
    width: 272.09px;
    height: 318px;
    padding: 15px;
    background-color: #fff;
    border-radius: 36px;
    text-align: center;
    box-shadow: 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0),
      0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.01),
      0px 20px 13px 0px rgba(0, 0, 0, 0.01),
      0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.01),
      0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.02),
      0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    overflow: hidden;
    .box {
      display: block;
      width: 101px;
      height: 101px;
      background-color: #004290;
      border-radius: 25% 75% 100% 0% / 30% 100% 0% 70%;
      bottom: -20px;
      transform: translateX(-50%);
      position: absolute;
      z-index: -1;
    }
    img {
      width: 115.44px;
      height: 114.86px;
      margin-bottom: 10px;
      margin-top: 24px;
    }

    p {
      font-size: 30px;
      font-weight: 700;
      line-height: 44.52px;
      color: #004290;
    }
  }

  .services1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .services2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-top: 60px;
  }
}

@media (max-width: 1281px) {
  .section {
    margin-top: 30px !important;
  }
  .services {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    .services1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      .card {
        width: 90%;
      }
    }
    .services2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      .card {
        width: 90%;
      }
    }
  }
}

@media (max-width: 700px) {
  .services {
    h1 {
      font-size: 30px;
    }
    .services1 {
      gap: 40px;
      .card {
        width: 90%;
        .box {
          display: none;
        }
        height: 160px;
        img {
          width: 60px;
          height: 60px;
        }
        p {
          font-size: 14px;
          line-height: 25px;
        }
      }
    }
    .services2 {
      gap: 40px;
      .card {
        .box {
          display: none;
        }
        height: 160px;
        width: 90%;
        img {
          width: 60px;
          height: 60px;
        }
        p {
          font-size: 13px;
          line-height: 25px;
        }
      }
    }
  }
}
